<div class="header-container flex items-center justify-between px-2 sm:px-4 md:px-6 lg:px-8 py-2">
  <div class="flex flex-col items-start md:flex-row md:items-center">
    <img src="/logo.png" alt="Logo" class="h-13 w-15 pl-2 md:h-20 md:w-20 mx-1 min-w-16 md:min-w-20"/>
    <p-tag
      value="Open Beta"
      severity="warning"
      class="text-xs font-semibold shadow-lg text-white rounded-2xl min-w-18 ml-1 mt-1 md:ml-2 md:mt-0">
    </p-tag>
  </div>

  <div class="flex items-center md:mr-6">
    <p-button
      label="Home"
      (onClick)="handleClick('/')"
      aria-label="Home"
      title="Home"
      styleClass="p-button-text px-2 text-base md:text-lg"
    ></p-button>

    <p-button
      label="Projetos"
      (onClick)="handleClick('/projects')"
      aria-label="Projetos"
      title="Projetos"
      styleClass="p-button-text px-2 text-base md:text-lg"
    ></p-button>
  </div>

  <div class="flex items-center gap-2 mr-2">
    <ng-container *ngIf="user$ | async as user; else loginButton">
      <!-- <span class="text-sm text-surface-500 mr-2">
        Olá, {{ user.firstName }}!
      </span> -->
      <p-button
        label="Sair"
        icon="pi pi-sign-out"
        (onClick)="onLogout()"
        styleClass="p-button-outlined p-button-sm"
        >
      </p-button>
    </ng-container>

    <ng-template #loginButton>
      <p-button
        label="Entrar"
        icon="pi pi-sign-in"
        (onClick)="onLogin()"
        styleClass="p-button-sm"
        >
      </p-button>
    </ng-template>

    <!-- Botão de tema -->
    <p-button
      icon="pi pi-moon"
      (onClick)="toggleDarkMode()"
      styleClass="p-button-rounded p-button-text">
    </p-button>
  </div>
</div>

