<div class="flex items-center justify-between px-4 py-2 bg-surface-950">
  <div class="flex items-center">
    <img src="/logo.png" alt="Logo" class="h-15 mr-4" />
  </div>


  <div class="flex gap-2 items-center">
    <p-button
      label="Home"
      (onClick)="handleClick('/')"
      aria-label="Home"
      title="Home"
      styleClass="p-button-text text-lg"
    ></p-button>

    <p-button
      label="Projetos"
      (onClick)="handleClick('/projects')"
      aria-label="Projetos"
      title="Projetos"
      styleClass="p-button-text text-lg"
    ></p-button>
  </div>

  <div class="flex items-center">
    <p-button
      icon="pi pi-moon"
      (onClick)="toggleDarkMode()"
      styleClass="p-button-rounded p-button-text"
      severity="secondary">
    </p-button>
  </div>
</div>

