<footer class="footer-container border-none flex items-center justify-between px-3 sm:px-4 md:px-6 lg:px-8 py-2">
  <!-- Logo e Slogan -->
  <div class="flex items-center gap-2 sm:gap-3">
    <img src="/logo.png" alt="M42Hub" class="w-12 h-12 sm:w-14 sm:h-14 md:w-15 md:h-15" />
  </div>

  <span class="text-xs opacity-60 hidden md:inline">© 2025 M42 Hub, Conectando conhecimentos para criar algo incrível!</span>
  <!-- Links e Copyright -->
  <div class="flex items-center gap-6 sm:gap-6">
    <div class="flex gap-3 mr-2 sm:gap-2">
      <button
        pButton
        (click)="openLink('https://discord.gg/E5xy62Eus2')"
        class="p-button-text p-button-sm hover:bg-surface-100 p-1.5 sm:p-2 rounded"
        title="Suporte no Discord">
        <i class="pi pi-discord text-xl md:text-2xl"></i>
      </button>
      <button
        pButton
        (click)="openLink('https://github.com/m42hub')"
        class="p-button-text p-button-sm hover:bg-surface-100 p-1.5 sm:p-2 rounded"
        title="GitHub">
        <i class="pi pi-github text-xl md:text-2xl"></i>
      </button>
      <button
        pButton
        (click)="openLink('https://livepix.gg/betgrave')"
        class="p-button-text p-button-sm hover:bg-surface-100 p-1.5 sm:p-2 rounded"
        title="Doar">
        <i class="pi pi-heart text-xl md:text-2xl"></i>
      </button>
    </div>

  </div>
</footer>
