<footer class="footer-container border-none flex items-center justify-between px-4 sm:px-6 md:px-8 lg:px-10 py-2 ">
  <!-- Logo e Slogan -->
  <div class="flex items-center gap-3">
    <img src="/logo.png" alt="M42Hub" class="w-15 h-15" />
  </div>

  <span class="text-xs opacity-60 hidden md:inline">© 2025 M42 Hub, Conectando conhecimentos para criar algo incrível!</span>
  <!-- Links e Copyright -->
  <div class="flex items-center gap-6">
    <div class="flex gap-2">
      <button
        pButton
        (click)="openLink('https://discord.gg/E5xy62Eus2')"
        class="p-button-text p-button-sm hover:bg-surface-100 p-2 rounded"
        title="Suporte no Discord">
        <i class="pi pi-discord text-2xl"></i>
      </button>
      <button
        pButton
        (click)="openLink('https://github.com/m42hub')"
        class="p-button-text p-button-sm hover:bg-surface-100 p-2 rounded"
        title="GitHub">
        <i class="pi pi-github text-2xl"></i>
      </button>
      <button
        pButton
        (click)="openLink('https://livepix.gg/betgrave')"
        class="p-button-text p-button-sm hover:bg-surface-100 p-2 rounded"
        title="Doar">
        <i class="pi pi-heart text-2xl"></i>
      </button>
    </div>

  </div>
</footer>
