<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="rounded-lg p-4 flex flex-col gap-4 bg-transparent max-w-lg mx-auto"
>
  <h2 class="text-lg font-bold mb-2">Alterar senha</h2>
  <p-message
    *ngIf="successMessage"
    severity="success"
    [text]="successMessage"
    class="mb-6"
  ></p-message>

  <p-message *ngIf="errorMessage" severity="error" [text]="errorMessage" class="mb-6"></p-message>
  <div class="flex flex-col md:flex-row gap-4">
    <div class="flex-1 flex flex-col gap-2">
      <label for="oldPassword" class="mb-1 text-sm">Senha atual</label>
      <input
        pInputText
        id="oldPassword"
        type="password"
        formControlName="oldPassword"
        class="w-full"
        placeholder="Senha atual"
      />
    </div>
  </div>
  <div class="flex flex-col md:flex-row gap-4">
    <div class="flex-1 flex flex-col gap-2">
      <label for="newPassword" class="mb-1 text-sm">Nova senha</label>
      <input
        pInputText
        id="newPassword"
        type="password"
        formControlName="newPassword"
        class="w-full"
        placeholder="Nova senha"
      />
    </div>
  </div>
  <div class="flex flex-col md:flex-row gap-4">
    <div class="flex-1 flex flex-col gap-2">
      <label for="confirmNewPassword" class="mb-1 text-sm">Confirmar nova senha</label>
      <input
        pInputText
        id="confirmNewPassword"
        type="password"
        formControlName="confirmNewPassword"
        class="w-full"
        placeholder="Confirmar nova senha"
      />
    </div>
  </div>
  <div class="flex gap-2 mt-4">
    <button type="submit" [disabled]="loading" pButton pRipple class="p-button p-button-success">
      Salvar
    </button>
    <button type="button" (click)="onCancel()" pButton pRipple class="p-button p-button-secondary">
      Cancelar
    </button>
  </div>
  <div *ngIf="loading" class="mt-2">Processando...</div>
</form>
