<div class="flex flex-col gap-4 sm:gap-6 w-full">
  <app-team-card [team]="getTeamMembers()"></app-team-card>

  <p-card *ngIf="project.unfilledRoles && project.unfilledRoles.length > 0" class="w-full">
    <ng-template pTemplate="header">
      <div class="pt-3 sm:pt-4">
        <h4 class="text-sm sm:text-base font-bold text-800 dark:text-surface-0 text-center uppercase tracking-wide">Vagas Abertas</h4>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="flex flex-col gap-3 px-2 sm:px-3">
        <p-tag
          *ngFor="let role of project.unfilledRoles"
          [value]="role.name"
          severity="primary"
          class="w-full justify-center p-2 text-2xl sm:text-sm">
        </p-tag>
      </div>
    </ng-template>
  </p-card>
</div>
